p.text-normal-large {
    color: white;
    font-family: Poppins;
    font-size: 20px;
    line-height: 24px;
}
p.text-normal-large_blue {
    color: #29ABFF;
    font-family: Poppins;
    font-size: 20px;
    line-height: 24px;
}


p.text-normal {
    color: white;
    font-family: Poppins;
    font-size: 17px;
    line-height: 24px;
}
p.text-light {
    color: #BFC3D3;
    font-family: Poppins;
    font-size: 17px;
    line-height: 24px;
}
p.text-normal-small {
    color: white;
    font-family: Poppins;
    font-size: 15px;
    line-height: 24px;
}
p.text-light-small {
    color: #BFC3D3;
    font-family: Poppins;
    font-size: 15px;
    line-height: 24px;
}

.close_icon {
    width:24px;
    height:24px;
    background-image: url(../../resources/icons/close-blue.svg);
    margin:3px;

    cursor: pointer;
}



.search_phrase-panel {
    border: 1px solid #252538;
    box-sizing: border-box;
    border-radius: 5px;

    display:inline-flex;
    justify-content: baseline;
    align-items: center;

    margin-bottom:10px;
    margin-right:10px;
}
.avatar-panel_43 {
    background: #C4C4C4;
    border-radius: 5px;

    width: 43px;
    height: 43px;

    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
}



.page_switch-active_text {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

    color:white;
}
.page_switch-indicator-container {
    width:31px;
    height:31px;
    border-radius: 4px;

    border: 1px solid #33334A;
    box-sizing: border-box;

    display:flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    margin: 0 5px;
}

.page_switch-text {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

    color:#BFC3D3;
}
.page_switch-indicator-container_active {
    width:31px;
    height:31px;
    border-radius: 4px;
    background: #29ABFF;

    display:flex;
    justify-content: center;
    align-items: center;

    cursor:default;

    margin: 0 5px;
}


.guide_tag-frame-large {
    height: 36px;

    background: #25253A;
    border-radius: 6px;

    display:inline-flex;
    justify-content: center;
    align-items: center;

    margin: 3px 5px;
}
.guide_tag-frame-large_blue {
    height: 36px;

    background: rgba(41, 171, 255, 0.2);
    border-radius: 6px;

    display:inline-flex;
    justify-content: center;
    align-items: center;

    margin: 3px 5px;
}

.guide_tag-frame {
    height: 27px;

    background: #25253A;
    border-radius: 6px;

    display:inline-flex;
    justify-content: center;
    align-items: center;

    margin: 2px 3px;
}
.guide_tag_add-frame {
    height: 27px;
    width:27px;

    background: #3B3B51;
    border-radius: 6px;

    display:flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    margin: 2px 3px;
}

