h3.bots_title {
    font-family: Poppins;
    color:white;
    font-size: 50px;
    line-height: 60px;


    margin-left:15%;

    padding-top:150px;
}
p.text-normal {
    color: white;
    font-family: Poppins;
    font-size: 17px;
    line-height: 24px;
}
p.text-light {
    color: #BFC3D3;
    font-family: Poppins;
    font-size: 17px;
    line-height: 24px;
}
p.text-normal-small {
    color: white;
    font-family: Poppins;
    font-size: 15px;
    line-height: 24px;
}
p.text-light-small {
    color: #BFC3D3;
    font-family: Poppins;
    font-size: 15px;
    line-height: 24px;
}


input.bots_search {
    background:transparent;
    outline:none;
    border:none;

    color: white;
    font-family: Poppins;
    font-size: 19px;
    line-height: 18px;
    width:90%;
}

.bots_header-container {
    display:inline-block;
    width:100%;
    background: #19192C;
}
.bots_header-container_banner {
    width:100%;
    height:272px;

    background-image: url(../resources/background/bots-search.png);

    background-position: right;
    background-repeat:no-repeat;
}



.bots_search-frame {
    width:70%;
    height:73px;

    margin:40px 15%;

    background: #19192C;
    border: 1.5px solid #252538;
    box-sizing: border-box;
    box-shadow: 0px 42px 51px rgba(9, 9, 20, 0.35);
    border-radius: 8px;

    display:flex;
    align-items:center;
    justify-content: space-between;
}
.bots_search-main_frame {
    display:flex;
    align-items:center;

    width:80%;
}
.search_icon {
    width:24px;
    height:24px;
    background-image: url(../resources/icons/search-blue.svg);
    float:left;
    margin:22px
}
.bots_search-btn {
    width:141px;
    height:44px;

    background: #29ABFF;

    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;

    cursor: pointer;
    margin:0 22px;
}
.bots_search-btn_text {
    color: white;
    font-family: Poppins;
    font-size: 14px;
    line-height: 14px;
    


}


.bots_search_results-container {
    margin:0px 15% 0px 15%;
}
.bots_panel-container {
    width:70%;
    margin:40px 15%;

    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}







@media screen and (max-width:1320px) {
    h3.bots_title {
        margin-left:5%;
    }
    .bots_search-frame {
        width:90%;
        margin:40px 5%;
    }
    .bots_search_results-container {
        margin: 0 5%;
    }
    .bots_panel-container {
        width:90%;
        margin:40px 5%;
    }
}

@media only screen and (max-device-width: 1000px) {
    .bots_header-container_banner {
        margin-top:30px;
    }
}
@media only screen and (max-device-width: 608px) {
    h3.bots_title {
        padding-top:100px;

        width:90%;

    }
    
    input.bots_search {
        width:80%;
    }
}
@media only screen and (max-device-width: 430px) {
    input.bots_search {
        width:60%;
    }
}