input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }


h3.panel_text-normal {
    color: white;
    font-family: Poppins;
    font-size: 20px;
    line-height: 24px;

    margin:0;
}

p.panel_text-normal {
    color: white;
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;

    margin:0;
}
p.panel_text-normal-small {
    color: #BFC3D3;
    font-family: Poppins;
    font-size: 12px;
    line-height: 14px;

    margin:0;
}
p.panel_text-light {
    color: #BFC3D3;
    font-family: Poppins;
    font-size: 14px;
    line-height: 16px;

    margin:0;
}
p.panel_text-light-small {
    color: #BFC3D3;
    font-family: Poppins;
    font-size: 12px;
    line-height: 14px;

    margin:0;
}



a {
    text-decoration: none;
}


.member_leaderboard_panel {
    padding-top:25px;
    margin-bottom:15px;
    
    width:100%;
    min-height:165px;

    background: #19192C;
    border-radius: 6px;
}
.member_leaderboard_panel-left {
    width:65%;
    float:left;
}
.member_leaderboard_panel-right {
    width:35%;
    float:right
}
.member_leaderboard_panel-header {
    height:55px;
    width:90%;
    margin: 0 5%;

    display:flex;

}
.member_leaderboard_panel-header-avatar {
    width:55px;
    height:55px;
    background: #C4C4C4;
    border-radius: 5px;
    margin-right:20px;




    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
}
.member_leaderboard_panel-latest_transactions {
    height:43px;


    display:flex;
    align-items: center;
    justify-content: baseline;
}
.member_leaderboard_panel-latest_transactions-main {
    background: #1E1E31;
    border-radius: 6px;

    width:170px;
    height:100%;

    margin: 0 5px 0 5%;

    display:inline-flex;
    align-items: center;
    justify-content: baseline;

    overflow:hidden;
}
.member_leaderboard_panel-latest_transactions-main_avatar {
    width:35px;
    height:35px;
    background: #C4C4C4;
    border-radius: 5px;

    margin-left: 5px;

    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
}
.member_leaderboard_panel-latest_transactions-additional {
    display:flex;
    width:192px;
    overflow:hidden;
}
.member_leaderboard_panel-stats_panel {
    width:90%;

    margin:0 5%;

    margin-bottom:10px;

    height: 66px;
    
    background: #1E1E31;
    border-radius: 4px;

    display:flex;
    justify-content: baseline;
    align-items: center;
}
.member_leaderboard_panel-stats_panel-text {
    height:36px;

}
.member_leaderboard_panel-stats_panel-transaction_icon {
    width:36px;
    height:36px;

    margin-left:15px;

    background-image: url(../../resources/icons/transactions-green.svg)
}
.member_leaderboard_panel-stats_panel-last_transaction_icon {
    width:36px;
    height:36px;

    margin-left:15px;

    background-image: url(../../resources/icons/lasttransaction-blue.svg)
}



.ranked_member_panel {
    width:100%;
    height:81px;
    background: #1E1E31;

    border-radius: 10px;
}
.ranked_member_panel-avatar {
    height:81px;
    width:81px;

    display:flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;

    float:left;
}
.ranked_member_panel-avatar-img {
    height:55px;
    width:55px;

    background-position: center;
    background-size: cover;
    
    border-radius: 4px;

}
.ranked_member_panel-content {
    width:333px;
    height:41px;
    margin:18px;

    float:left;
    display:block;
}
.ranked_member_panel-rank {
    height:81px;
    width:81px;

    display:flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;

    float:left;
}
.ranked_member_panel-rank-img {
    margin-top:5px;
    height:60px;
    width:70px;

    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
}
.rank_member_panel-1 {
    background-image:url('../../resources/panel/member-ranking-1.svg')
}
.rank_member_panel-2 {
    background-image:url('../../resources/panel/member-ranking-2.svg')
}
.rank_member_panel-3 {
    background-image:url('../../resources/panel/member-ranking-3.svg')
}
.rank_member_panel-4 {
    background-image:url('../../resources/panel/member-ranking-4.svg')
}
.rank_member_panel-5 {
    background-image:url('../../resources/panel/member-ranking-5.svg')
}





.blog_bot_panel {
    width:378px;
    height:266px;

    background: #212135;
    border-radius: 8px;
}
.blog_bot_panel-header {
    width:100%;
    height:81px;

    border-radius: 8px 8px 0px 0px;

}
.blog_bot_panel-header-icon {
    margin-top:15px;
    margin-left:15px;

    width:52px;
    height:52px;
    float:left;

}
h2.blog_bot_panel-header-title {

    margin:0;

    margin-top:20px;
    margin-left:15px;



    width:52px;
    height:52px;

    font-family: Poppins;
    font-size: 24px;
    line-height: 34px;

    float:left;
}
.blog_bot_panel-body {
    margin:15px 35px;

    height:154px;
}
.blog_bot_panel-divider {
    margin: 20px 0px;

    border: 1px solid #3B4053;
    width: 83.5px;
    height: 0px;
}
.blog_bot_panel-author {
    height:50px;
}
.blog_bot_panel-author-avatar {

    margin-top:15px;

    width:21px;
    height:21px;

    border-radius: 3px;
    
    background-position: center;
    background-size:contain;

    float:left;
}
.blue_button-read_blog {
    background-color:#29ABFF;
    border-radius:6px;

    width:100px;
    height:32px;

    margin-top:10px;

    display:flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    float:right;
}
.blue_button-read_blog-text {
    color: white;
    font-family: Poppins;
    font-size: 16px;
    line-height: 18px;
}




.dashboard_droplets-panel {
    width:319px;
    height:260px;

    background: #19192C;
    border-radius: 6px;

    margin:10px;
}
.dashboard_droplets-panel_header {
    width:100%;
    height:81px;
    background: #212133;
    border-radius: 8px 8px 0px 0px;

    display:flex;
    justify-content: first baseline;
    align-items: center;


}
.dashboard_droplets-panel_header-icon {
    height:50px;
    width:50px;

    margin-left:20px;
    margin-right:20px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.dashboard_droplets-panel_header-delete {
    width:24px;
    height:24px;
    background-image: url(../../resources/icons/delete-red.svg);
    margin-left:100px;
    cursor: pointer;
}
.dashboard_droplets-cost {  
    height:43px;
    width:200px;

    display:flex;
    justify-content: first baseline;
    align-items: center;
}
.dashboard_droplets-cost_icon_container {  
    width:43px;
    height:35px;

    padding-top:8px;

    margin-left:20px;
    margin-right:10px;

    background: #242637;
    border-radius: 6px;

    display:flex;
    align-items: center;
    justify-content: center;

}
.dashboard_droplets-cost_icon {

    width:43px;
    height:28px;
    
    background-image:url(../../resources/icons/droplets-blue.svg);
    background-position: center;
    background-size: cover;
}
.dashboard_droplets-cost_text {
    width:100px;
    height:43px;

    margin-top:5px;
}
.dashboard_droplets-btn_container{
    margin-top:40px;
    margin-left:20px;
    width:276px;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard_droplets-more_info-btn {
    border: 1px solid #292939;
    box-sizing: border-box;
    border-radius: 6px;

    width:125px;
    height:35px;

    display:flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.dashboard_droplets-more_info-btn-text {
    color: white;
    font-family: Poppins;
    font-size: 14px;
    line-height: 14px;
}
.dashboard_droplets-redeem-btn {
    background: #29ABFF;
    border-radius: 6px;

    width:125px;
    height:35px;

    display:flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.dashboard_droplets-redeem-btn-text {
    color: white;
    font-family: Poppins;
    font-size: 14px;
    line-height: 14px;
}
.dashboard_droplets-not_enough-btn {
    background: #212133;
    border-radius: 6px;

    width:125px;
    height:35px;

    display:flex;
    align-items: center;
    justify-content: center;

    cursor:default;
}
.dashboard_droplets-not_enough-btn-text {
    color: #BFC3D3;
    font-family: Poppins;
    font-size: 14px;
    line-height: 14px;
}
input.dashboard_droplets-name_edit {
    border: 1.5px solid #252538;
    box-sizing: border-box;
    border-radius: 6px;

    outline: none;
    background-color:transparent;

    color: white;
    font-family: Poppins;
    font-size: 14px;
    line-height: 14px;

    margin:15px 20px;

    width: 276px;
    height:35px;
}
input.dashboard_droplets-cost_edit {
    border: 1.5px solid #252538;
    box-sizing: border-box;
    border-radius: 6px;

    outline: none;
    background-color:transparent;

    color: white;
    font-family: Poppins;
    font-size: 14px;
    line-height: 14px;

    margin:1px 5px;

    width: 200px;
    height:35px;
}
.dashboard_droplets-btn_container-admin{
    margin-top:15px;
    margin-left:20px;
    width:276px;

    display:flex;
    justify-content: space-between;
    align-items: center;
}


@media only screen and (max-device-width: 660px) {
    .member_leaderboard_panel {
        display:inline-block;
    }
    .member_leaderboard_panel-left {
        width:100%;
    }
    .member_leaderboard_panel-right {
        width:60%;
        float:left;

        margin: 20px 5%;
    }
    .member_leaderboard_panel-stats_panel {
        margin-left:0px;
    }
}
@media only screen and (max-device-width: 440px) {
    .member_leaderboard_panel-latest_transactions {
        display:none;
    }
    .member_leaderboard_panel-latest_transactions-title {
        display:none;
    }
    .member_leaderboard_panel-right {
        width:80%;
        float:left;

        margin: 20px 5%;
    }
}