p.list_panel_text-normal {
  color: white;
  font-family: Poppins;
  font-size: 15px;
  line-height: 18px;
  overflow: hidden;
}

a.list_panel_link-normal {
  color: #29abff;
  font-family: Poppins;
  font-size: 15px;
  line-height: 18px;

  text-decoration: none;

  overflow: hidden;
}

.transaction_history-panel {
  width: 95%;
  height: 55px;
  background: #19192c;
  border-radius: 7px;

  margin-top: 20px;

  display: flex;
}
.transaction_history-container {
  width: 20%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.transaction_history-bot_frame {
  width: 43px;
  height: 43px;
  background: transparent;
  border-radius: 5px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.transaction_history-bot_icon {
  width: 36px;
  height: 36px;
  background-size: contain;
}

.previous_sales-panel {
  width: 95%;
  height: 55px;
  background: #19192c;
  border-radius: 7px;

  margin-top: 20px;

  display: flex;
}
.previous_sales-container {
  width: 33%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.previous_sales-text_padding {
  background: #1e1e31;
  border-radius: 6px;
  display: inline-block;
}
